nav ul {
    display: flex;
    gap: 5px;
    justify-content:space-around;
    align-items: center;
    width: auto;
    margin: 0;  
    height: 90px;
    background-color: rgb(0, 0, 0);
    top: 0;
}

nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 500; /* grosor de trazo */
    font-size: 10rem ;
}

