/* ---------- FUENTE ---------- */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700;800&display=swap');

/* ---------- GLOBAL ---------- */

/* Reset de margenes*/
*{
    box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.fondo__black {
  background-color: black;
}

.main{
  margin: auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
}

.header-banner{
  width: 100%;
  height: 160px;
  background-color: black;
  text-align: center;
}

.header-img{
  height: 100%;
  margin: 0 auto;
}
